- var classes = ['Card']
- if (clase) classes.push(clase)
div(class=classes)
    .Card-container
        h2.Card-name= character ? character.name : 'Wolverine'
        img.Card-image(src= character ? character.thumbnail.path + '.' + character.thumbnail.extension : "./public/images/wolverine.jpg")
        .Card-description= character ? character.description : 'Wolverine es muy poderoso'
        - var attack = Math.ceil(Math.random() * 500) + 500
        .Card-attack(data-attack=attack)= attack + ' puntos de ataque'
    .Card-backface